<div class="container">
  <div *ngIf="news.length > 0; then done; else load"></div>
</div>

<ng-template #load>
  <div style="margin-bottom: 20px">
    <div style="margin-bottom: 5px">
      <p-skeleton width="100%" height="2rem"></p-skeleton>
    </div>
    <p-skeleton width="100px" height="1rem"></p-skeleton>
  </div>
  <div style="margin-bottom: 20px">
    <div style="margin-bottom: 5px">
      <p-skeleton width="100%" height="2rem"></p-skeleton>
    </div>
    <p-skeleton width="100px" height="1rem"></p-skeleton>
  </div>
  <div style="margin-bottom: 20px">
    <div style="margin-bottom: 5px">
      <p-skeleton width="100%" height="2rem"></p-skeleton>
    </div>
    <p-skeleton width="100px" height="1rem"></p-skeleton>
  </div>
  <div style="margin-bottom: 20px">
    <div style="margin-bottom: 5px">
      <p-skeleton width="100%" height="2rem"></p-skeleton>
    </div>
    <p-skeleton width="100px" height="1rem"></p-skeleton>
  </div>
  <div style="margin-bottom: 20px">
    <div style="margin-bottom: 5px">
      <p-skeleton width="100%" height="2rem"></p-skeleton>
    </div>
    <p-skeleton width="100px" height="1rem"></p-skeleton>
  </div>
  <div style="margin-bottom: 5px">
    <p-skeleton width="100%" height="2rem"></p-skeleton>
  </div>
  <p-skeleton width="100px" height="1rem"></p-skeleton>
</ng-template>

<ng-template #done>
  <div class="head">
    <h3>News</h3>
    <button
      pButton
      type="button"
      class="p-button-xs"
      icon="pi pi-arrow-right"
      iconPos="left"></button>
  </div>
  <app-news-item [item]="item" *ngFor="let item of news"></app-news-item>
</ng-template>
