@import '../../../assets/styles/variables';
.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: $text-color;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
