@import '../../../assets/styles/breakpoint';
@import '../../../assets/styles/variables';

.header {
  background-color: $white;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  border-bottom: 1px solid $gray3;
  &_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
    gap: 20px;

    &_center {
      width: auto;
      @include lg {
        width: 40%;
      }
    }

    &_right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 15px;
      &_item {
        background-color: $extremelyLightColor;
        padding: 7px;
        border-radius: 5px;
        color: $text-color-light;
        i {
          font-size: 18px;
        }
      }
    }

    @include md {
      width: 90%;
    }
    @include lg {
      width: 85%;
    }
  }
}

.title {
  color: white;
  background-color: $primaryColor;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  i {
    font-size: 25px;
  }
}

.logout {
  cursor: pointer;
}
