<p-confirmDialog
  [dismissableMask]="true"
  header="Logout confirmation"
  [breakpoints]="{ '1500px': '40vw', '640px': '90vw' }"
  [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-text"></p-confirmDialog>

<header class="header">
  <div class="header_container">
    <div class="header_container_left">
      <a class="title" routerLink="/">
        <i class="pi pi-clone"></i>
      </a>
    </div>
    <div class="header_container_center">
      <app-search-bar></app-search-bar>
    </div>
    <div class="header_container_right">
      <a
        pTooltip="Messages"
        tooltipPosition="bottom"
        class="header_container_right_item"
        routerLink="/">
        <i class="pi pi-comment"></i>
      </a>
      <a
        pTooltip="Notifications"
        tooltipPosition="bottom"
        class="header_container_right_item"
        routerLink="/">
        <i class="pi pi-bell"></i>
      </a>
      <span
        (click)="onLogout()"
        *ngIf="uid"
        pTooltip="Logout"
        tooltipPosition="bottom"
        class="header_container_right_item logout">
        <i class="pi pi-sign-out"></i>
      </span>
    </div>
  </div>
</header>
