@import '../../../assets/styles/breakpoint';
@import '../../../assets/styles/variables';

.container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 20px 0;
  border-top: 1px solid $gray3;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  @include lg {
    display: none;
  }
  .nav_item {
    &.active {
      .nav_item_box {
        i {
          color: $primaryColor;
        }
        &::after {
          display: block;
        }
      }
    }
    width: 100%;
    &_box {
      position: relative;
      &::after {
        display: none;
        content: '';
        width: 100%;
        height: 2px;
        background-color: $primaryColor;
        position: absolute;
        top: -21px;
        left: 0;
      }
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      i {
        font-size: 20px;
        color: $text-color-light;
      }
    }
  }
}
