<div class="container">
  <a
    *ngFor="let item of navList"
    routerLinkActive="active"
    class="nav_item"
    [routerLink]="'/' + item.url">
    <div class="nav_item_box">
      <i [ngClass]="item.icon"></i>
    </div>
  </a>
</div>
