<div class="container">
  <div *ngFor="let item of navList">
    <a routerLinkActive="active" class="nav_item" [routerLink]="'/' + item.url">
      <i [ngClass]="item.icon"></i>
      <span>{{ item.title }}</span>
    </a>
  </div>
</div>
