@import '../../../assets/styles/variables';
.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.nav_item {
  &:hover {
    background-color: $extremelyLightColor;
  }
  color: $text-color-light;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  i {
    font-size: 20px;
  }
  &.active {
    background-color: $extremelyLightColor;
    // color: white;
  }
}
