@import '../../../assets/styles/variables';

.container {
  width: 100%;
}

.p-input-icon-right {
  width: 100%;
  input {
    width: 100%;
    border: none;
    background-color: $extremelyLightColor;
  }
}
