<div class="container">
  <div *ngIf="loading; then load; else done"></div>
</div>

<ng-template #load>
  <p-skeleton width="100%" height="9rem"></p-skeleton>
</ng-template>

<ng-template #done>
  <div *ngIf="authInfo">
    <div style="margin-bottom: 10px">
      <h3>
        {{ authInfo.username }}
      </h3>
      <span>Web developer at Google</span>
    </div>
    <span
      >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, vero
      rerum quos dolore incidunt fuga?</span
    >

    <div class="numbers">
      <div class="numbers_item">
        <span>256</span>
        <span>Posts</span>
      </div>
      <div class="line"></div>
      <div class="numbers_item">
        <span>256</span>
        <span>Posts</span>
      </div>
      <div class="line"></div>
      <div class="numbers_item">
        <span>256</span>
        <span>Posts</span>
      </div>
    </div>
  </div>
</ng-template>
