@import '../../../assets/styles/variables';
.container {
  text-align: center;

  span {
    font-size: $smallFont;
  }
}

.numbers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  .line {
    height: 40px;
    width: 1px;
    background-color: $gray3;
  }
  &_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
      &:first-of-type {
        font-weight: bold;
        color: $primaryColor;
      }
    }
  }
}
