<div class="auth">
  <div class="auth_container">
    <h1>Login</h1>
    <span class="redirect-text"
      >Do not have an account? <a routerLink="/register">Register</a></span
    >
    <form (ngSubmit)="submit()" [formGroup]="form" class="auth_container_form">
      <div class="form-control">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
          <input
            tooltipStyleClass="danger"
            formControlName="email"
            tooltipPosition="top"
            [pTooltip]="getEmailMsg()"
            class=""
            type="text"
            pInputText
            placeholder="Email"
            [ngClass]="{
              error: email.errors && email.touched
            }" />
        </div>
      </div>

      <div class="form-control">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
          <input
            tooltipStyleClass="danger"
            formControlName="password"
            tooltipPosition="top"
            [pTooltip]="getPasswordMsg()"
            [type]="passwordType"
            pInputText
            placeholder="Password"
            [ngClass]="{
              error: password.errors && password.touched
            }" />
          <span class="p-inputgroup-addon">
            <span (click)="onChangePasswordType()" class="pass-icon">
              <span *ngIf="passwordType === 'password'; then pass; else text">
              </span>
            </span>
          </span>
        </div>
      </div>
      <p-messages [(value)]="errors"></p-messages>

      <button
        [disabled]="disabled"
        [loading]="isLoading"
        type="submit"
        pButton
        label="Login"
        iconPos="right"></button>
    </form>
  </div>
</div>

<ng-template #pass>
  <i class="pi pi-eye"></i>
</ng-template>

<ng-template #text>
  <i class="pi pi-eye-slash"></i>
</ng-template>
