<app-header></app-header>

<div class="wrapper">
  <div class="container">
    <div class="container_nav">
      <div class="container_item">
        <app-nav-side-bar></app-nav-side-bar>
      </div>
    </div>
    <div class="content container_item">
      <div class="head">
        <h2>Account setting</h2>
        <p>Edit your account information here</p>
      </div>
      <div *ngIf="authInfo; then done; else load"></div>
    </div>
  </div>
</div>

<app-mobile-nav-bar></app-mobile-nav-bar>

<ng-template #set>
  <img [src]="avatar" alt="" />
</ng-template>

<ng-template #unset>
  <div class="avatarBox">
    <i class="pi pi-user"></i>
  </div>
</ng-template>

<ng-template #load>
  <div class="skeContainer">
    <div class="skeImg">
      <p-skeleton width="150px" shape="circle" height="150px"></p-skeleton>
    </div>

    <div *ngFor="let item of [1, 2, 3, 4, 5, 6, 7]" class="skeItem">
      <div style="margin-bottom: 5px">
        <p-skeleton width="100px" height="12px"></p-skeleton>
      </div>
      <p-skeleton width="100%" height="35px"></p-skeleton>
    </div>
  </div>
</ng-template>

<ng-template #done>
  <form class="form" [formGroup]="form">
    <div class="form_box">
      <div class="form-group avatar">
        <div class="avatarContainer">
          <input
            pTooltip="Edit avatar"
            tooltipPosition="top"
            formControlName="file"
            accept="image/*"
            class="avatarInput"
            type="file"
            (change)="onChange($event)" />
          <div *ngIf="avatar; then set; else unset"></div>
        </div>
      </div>

      <div class="form-group">
        <div class="form-control">
          <label>Email</label>
          <input
            formControlName="email"
            type="text"
            pInputText
            placeholder="Email" />
        </div>
      </div>
      <div class="form-group">
        <div class="form-control">
          <label>
            <span>Username</span>
            <span class="required">required</span>
          </label>
          <input
            formControlName="username"
            type="text"
            pInputText
            placeholder="Username" />
          <div *ngIf="username.errors">
            <small class="error_text" *ngIf="username.errors['required']">
              Username can not be blank
            </small>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="form-control">
          <label>
            <span>Firstname</span>
            <span class="required">required</span>
          </label>
          <input
            [ngClass]="{
              error: firstname.touched && firstname.errors
            }"
            formControlName="firstname"
            type="text"
            pInputText
            placeholder="Firstname" />
          <div *ngIf="firstname.errors && firstname.touched">
            <small class="error_text" *ngIf="firstname.errors['required']">
              Firstname can not be blank
            </small>
          </div>
        </div>
        <div class="form-control">
          <label>
            <span>Lastname</span>
            <span class="required">required</span>
          </label>
          <input
            [ngClass]="{
              error: lastname.touched && lastname.errors
            }"
            formControlName="lastname"
            type="text"
            pInputText
            placeholder="Lastname" />
          <div *ngIf="lastname.errors && lastname.touched">
            <small class="error_text" *ngIf="lastname.errors['required']">
              Lastname can not be blank
            </small>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="form-control">
          <label>
            <span>Gender</span>
            <span class="required">required</span>
          </label>
          <p-dropdown
            [ngClass]="{
              error: gender.touched && gender.errors
            }"
            placeholder="Select gender"
            styleClass="full"
            [options]="genders"
            formControlName="gender"
            optionLabel="name"
            optionValue="code"></p-dropdown>
          <div *ngIf="gender.errors && gender.touched">
            <small class="error_text" *ngIf="gender.errors['required']">
              Gender can not be blank
            </small>
          </div>
        </div>
        <div class="form-control">
          <label>
            <span>Year of birth</span>
            <span class="required">required</span>
          </label>
          <p-calendar
            [ngClass]="{
              error: dateOfBirth.touched && dateOfBirth.errors
            }"
            placeholder="Select year or birth"
            styleClass="setting"
            formControlName="dateOfBirth"></p-calendar>
          <div *ngIf="dateOfBirth.errors && dateOfBirth.touched">
            <small class="error_text" *ngIf="dateOfBirth.errors['required']">
              Date of birth can not be blank
            </small>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="form-control">
          <label>
            <span>Nationality</span>
            <span class="required">required</span>
          </label>
          <p-dropdown
            [ngClass]="{
              error: nationality.touched && nationality.errors
            }"
            placeholder="Select nationality"
            styleClass="full"
            [options]="nations"
            formControlName="nationality"
            optionLabel="name"
            optionValue="code"></p-dropdown>
          <div *ngIf="nationality.errors && nationality.touched">
            <small class="error_text" *ngIf="nationality.errors['required']">
              Nationality can not be blank
            </small>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="form-control">
          <label>About</label>
          <textarea
            formControlName="about"
            pInputTextarea
            placeholder="Tell us about yourself"></textarea>
        </div>
      </div>

      <button
        [disabled]="disabled"
        [loading]="loading"
        (click)="submit()"
        type="submit"
        pButton
        class="p-button-xl"
        label="Save"></button>
    </div>
  </form>
</ng-template>
