@import '../../../assets/styles/breakpoint';
@import '../../../assets/styles/variables';
.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;

  &_nav {
    display: none;
    @include lg {
      display: block;
    }
  }

  &_item {
    background-color: white;
    padding: 40px 20px;
    border-radius: 5px;
    border: 1px solid $gray3;
  }

  @include lg {
    grid-template-columns: 5fr 15fr;
  }
}

.head {
  margin-bottom: 40px;
  text-align: center;
  h2 {
    margin-bottom: 5px;
  }
}

.skeContainer {
  width: 100%;
  margin: auto;
  .skeImg {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @include lg {
    width: 70%;
  }
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.form {
  &_box {
    width: 100%;
    margin: auto;
    @include lg {
      width: 70%;
    }
  }
  .form-group {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    width: 100%;
    &.avatar {
      margin-bottom: 40px;
      justify-content: center;
      .avatarContainer {
        width: 150px;
        height: 150px;
        position: relative;
        .avatarInput {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          opacity: 0;
        }
        .avatarBox {
          background-color: $lightColor;
          border-radius: 100%;
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          i {
            font-size: 25px;
          }
        }
        img {
          width: 100%;
          height: 100%;
          border-radius: 100%;
        }
      }
    }
  }
  .form-control {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;

    small {
      color: $dangerColor;
    }

    label {
      color: $text-color-light;
      font-size: $smallFont;
      font-weight: bold;
      .required {
        background-color: $dangerColor;
        color: white;
        padding: 3px 6px;
        border-radius: 5px;
        font-size: $extremeSmallFont;
        margin-left: 5px;
      }
    }
    input,
    textarea {
      width: 100%;
      padding-top: 15px;
      padding-bottom: 15px;
      &:disabled {
        background-color: $lightColor;
      }
      &.error {
        border-color: $dangerColor;
      }
      &::placeholder {
        opacity: 0.7;
      }
    }

    textarea {
      height: 150px;
      max-height: 150px;
    }
  }
}
