<div class="container">
  <div *ngIf="authInfo; then done; else load"></div>
</div>

<ng-template #load>
  <div class="box">
    <p-skeleton shape="circle" width="30px" height="30px"></p-skeleton>
    <div style="flex-grow: 1">
      <p-skeleton width="100%" height="50px"></p-skeleton>
    </div>
  </div>
</ng-template>

<ng-template #done>
  <div *ngIf="authInfo">
    <div class="box">
      <p-avatar
        image="https://social.webestica.com/assets/images/avatar/04.jpg"
        styleClass="mr-2"
        size="large"
        shape="circle"></p-avatar>
      <div style="width: 100%" (click)="showAddPost()">
        <input
          [disabled]="true"
          placeholder="What's on your mind?"
          type="text"
          pInputText />
      </div>
    </div>
  </div>
</ng-template>

<p-dialog
  [dismissableMask]="false"
  header="Create post"
  [(visible)]="postModal"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  styleClass="postModal"
  [formGroup]="form">
  <div>
    <div class="head-box">
      <p-avatar
        image="https://social.webestica.com/assets/images/avatar/04.jpg"
        styleClass="mr-2"
        size="large"
        shape="circle"></p-avatar>
      <textarea
        formControlName="content"
        pInputTextarea
        placeholder="What's on your mind?"></textarea>
    </div>
  </div>

  <div class="photoContainer">
    <div class="photoContainer_upload">
      <input
        pTooltip="Images"
        tooltipPosition="top"
        formControlName="files"
        accept="image/*"
        class="photoContainer_upload_input"
        multiple
        type="file"
        (change)="onChange($event)" />
      <p-button
        icon="pi pi-image"
        styleClass="p-button p-button-sm p-button-outlined"></p-button>
    </div>

    <div class="photos">
      <img *ngFor="let item of images" src="{{ item }}" />
    </div>
  </div>

  <ng-template pTemplate="footer">
    <p-button
      [disabled]="disbaled"
      label="Post"
      styleClass="p-button p-button-md"></p-button>
  </ng-template>
</p-dialog>
