@import '../../../assets/styles/variables';
@import '../../../assets/styles/breakpoint';

.container {
  .box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    input {
      width: 100%;
      background-color: $extremelyLightColor;
      border: none;
      cursor: pointer;
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
}

.head-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  textarea {
    flex-grow: 1;
    min-height: 100px;
    max-height: 150px;
    border: none;
  }
  margin-bottom: 20px;
}

.photoContainer {
  &_upload {
    position: relative;
    width: 38px;
    height: 33px;

    &_input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      opacity: 0;
    }
  }
  .photos {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
    @include lg {
      grid-template-columns: repeat(3, 1fr);
    }
    img {
      width: 100%;
      border-radius: 5px;
    }
  }
}
