<app-header></app-header>
<div class="wrapper">
  <div class="app-container">
    <div class="app-container_col left">
      <div class="app-item">
        <app-info-small-block></app-info-small-block>
      </div>
      <div class="app-item">
        <app-nav-side-bar></app-nav-side-bar>
      </div>
    </div>
    <div class="app-container_col center">
      <div class="app-item">
        <app-create-post></app-create-post>
      </div>

      <app-posts></app-posts>
    </div>

    <div class="app-container_col right">
      <div class="app-item">
        <app-friend-suggestions></app-friend-suggestions>
      </div>

      <div class="app-item">
        <app-news></app-news>
      </div>
    </div>
  </div>
</div>
<app-mobile-nav-bar></app-mobile-nav-bar>
