<div>
  <div *ngIf="suggestions$ | async; then done; else load"></div>
</div>

<ng-template #load>
  <div *ngFor="let item of [1, 2, 3, 4, 5]">
    <div class="ske">
      <div class="ske_left">
        <p-skeleton shape="circle" width="30px" height="30px"></p-skeleton>
        <div>
          <div style="margin-bottom: 5px">
            <p-skeleton width="130px" height="10px"></p-skeleton>
          </div>
          <p-skeleton width="130px" height="10px"></p-skeleton>
        </div>
      </div>
      <p-skeleton shape="circle" width="30px" height="30px"></p-skeleton>
    </div>
  </div>
</ng-template>

<ng-template #done>
  <h4>Suggestions</h4>
  <div class="suggestions">
    <div class="suggestions_item" *ngFor="let item of suggestions$ | async">
      <div class="suggestions_item_left">
        <p-avatar
          image="https://social.webestica.com/assets/images/avatar/04.jpg"
          styleClass="mr-2"
          size="large"
          shape="circle"></p-avatar>
        <div class="suggestions_item_left_info">
          <span class="name">
            {{ item.username }}
          </span>
          <span class="job">News anchor</span>
        </div>
      </div>
      <div [ngSwitch]="checkStatus(item.id)">
        <div *ngSwitchCase="'no'">
          <button
            pTooltip="Add friend"
            tooltipPosition="top"
            (click)="onAdd(item.id)"
            pButton
            pRipple
            type="button"
            icon="pi pi-plus"
            class="p-button-rounded p-button p-button-xs"></button>
        </div>
        <div *ngSwitchCase="'friend'">
          <button
            pTooltip="Friends"
            tooltipPosition="top"
            pButton
            pRipple
            type="button"
            icon="pi pi-users"
            class="p-button-rounded p-button p-button-xs p-button-success"></button>
        </div>
        <div *ngSwitchCase="'pending'">
          <button
            pTooltip="Cancel request"
            tooltipPosition="top"
            (click)="onCancel(item.id)"
            pButton
            pRipple
            type="button"
            icon="pi pi-minus"
            class="p-button-rounded p-button p-button-xs p-button-info"></button>
        </div>
        <div *ngSwitchCase="'accept'">
          <div class="btns">
            <button
              (click)="onDecline(item.id)"
              pTooltip="Decline"
              tooltipPosition="top"
              pButton
              pRipple
              type="button"
              icon="pi pi-times"
              class="p-button-rounded p-button p-button-xs p-button-danger"></button>
            <button
              (click)="onAccept(item.id)"
              pTooltip="Accept"
              tooltipPosition="top"
              pButton
              pRipple
              type="button"
              icon="pi pi-check"
              class="p-button-rounded p-button p-button-xs p-button-info"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="more" pButton type="button" label="More"></button>
</ng-template>
