@import '../../../assets/styles/variables';
h4 {
  margin-bottom: 20px;
}
.suggestions {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  &_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_left {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 8px;
      &_info {
        span {
          display: block;
          &.name {
            font-weight: bold;
          }
          &.job {
            font-size: $smallFont;
            color: lighten($color: $text-color, $amount: 50%);
          }
        }
      }
    }
    .btns {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 10px;
    }
    button {
      height: 26px;
      width: 26px;
      i {
      }
    }
  }
}

.more {
  width: 100%;
}

.ske {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &_left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
