@import './breakpoint';

.danger {
  .p-tooltip-text {
    background-color: $dangerColor !important;
  }
}

.p-tooltip.p-tooltip-top.danger .p-tooltip-arrow {
  border-top-color: $dangerColor !important;
}
.auth {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    margin-bottom: 20px;
  }
  .redirect-text {
    font-size: $smallFont;
  }
  &_container {
    width: 90%;
    padding: 40px;
    background-color: $white;
    box-shadow: $shadow;
    border-radius: 5px;
    text-align: center;

    &_form {
      text-align: left;
      margin-top: 20px;
      .error {
        border-color: $dangerColor;
        background-color: lighten($color: $dangerColor, $amount: 40%);
      }
      .form-control {
        margin-bottom: 20px;
        .pass-icon {
          cursor: pointer;
        }
        input {
          padding: 15px;
        }
      }
      .p-button {
        width: 100%;
        // display: block;
        padding: 15px;
        &:disabled {
          cursor: not-allowed;
          opacity: 0.4;
        }
      }
    }
    @include md {
      width: 70%;
    }
    @include lg {
      width: 40%;
    }
    @include xl {
      width: 35%;
    }
  }
}
