* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: $font;
  color: $text-color;
  background-color: $lightColor;
}
a {
  text-decoration: none;
}

.wrapper {
  padding-top: 90px;
  padding-bottom: 90px;
  margin: auto;
  width: 95%;

  @include md {
    width: 90%;
  }
  @include lg {
    width: 85%;
  }
}

.app-container {
  display: grid;

  gap: 30px;

  &_col {
    &.right,
    &.left {
      display: none;
      @include lg {
        display: block;
      }
    }
  }

  @include lg {
    grid-template-columns: 3fr 5fr 3fr;
  }
}

.app-item {
  background-color: $white;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 1px solid darken($color: $lightColor, $amount: 5%);
  h4 {
  }
}
