@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

$font: 'Montserrat', sans-serif;
$primaryColor: #4d46fa;
// $primaryColor: #3c63e3;

$primaryColor_dark: darken(
  $color: $primaryColor,
  $amount: 4%,
);

$dangerColor: #e33454;

$shadow-btn-focus: rgba(77, 70, 250, 0.5);

$lightColor: #e5e5e5;
$gray3: darken($lightColor, 5%);
$extremelyLightColor: lighten($lightColor, 5%);
$text-color: black;
$text-color-light: lighten(
  $color: $text-color,
  $amount: 40%,
);
$white: white;
$shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px 0px;

$normalFont: 16px;
$smallFont: 14px;
$extremeSmallFont: 10px;
